packages:
  yum:
    epel-release: []

container_commands:
  01_install_certbot:
    command: "dnf install -y certbot python3-certbot-nginx || yum install -y certbot python3-certbot-nginx"
  02_get_cert:
    command: "certbot --nginx --non-interactive --agree-tos --email smadmin10@gmail.com -d kairo-sengmey-dev.duckdns.org --redirect"
    ignoreErrors: true
