commands:
  01_install_certbot:
    command: |
      dnf install -y python3-pip augeas-libs
      python3 -m pip install --upgrade pip
      python3 -m pip install certbot certbot-nginx
      ln -sf /usr/local/bin/certbot /usr/bin/certbot
    test: "! test -f /usr/bin/certbot"

container_commands:
  01_run_certbot:
    command: "/usr/bin/certbot --nginx --non-interactive --agree-tos --email vannsengmey@gmail.com -d kairo-sengmey-dev.duckdns.org --redirect || true"
