commands:
  01_install_certbot:
    command: |
      dnf install -y python3-pip augeas-libs
      python3 -m pip install certbot
      ln -sf /usr/local/bin/certbot /usr/bin/certbot
    test: "! test -f /usr/bin/certbot"

container_commands:
  01_create_webroot:
    command: "mkdir -p /var/app/current/public/.well-known/acme-challenge"
  02_get_cert:
    command: |
      /usr/bin/certbot certonly --webroot -w /var/app/current/public \
        --non-interactive --agree-tos --email vannsengmey@gmail.com \
        -d kairo-sengmey-dev.duckdns.org || true
  03_reload_nginx:
    command: "systemctl reload nginx || true"
